.detailPage {
  display: flex;
  margin: 0 auto 40px auto;
  padding: 20px;
  max-width: 1280px;
  color: #fff;
  box-shadow: 0px 0px 10px -3px gold;
  border-radius: 15px;
}

.detailPage__sidebar {
  margin-right: 50px;
}

.detailPage_img {
  min-width: 500px;
  border-radius: 5px;
}

.detailPage__title {
  margin-bottom: 10px;
  font-size: 30px;
  color: gold;
}
.detailPage__details {
  display: flex;
  margin-bottom: 20px;
}

.detailPage__sidebarLeft {
  margin-right: 20px;
  font-size: 12px;
  text-transform: uppercase;
}

.detailPage__sidebarLeftText {
  margin-bottom: 7px;
}

.detailPage__span {
  border-bottom: 1px solid gold;
}

.detailPage__sidebarRight {
  font-size: 12px;
}

.detailPage__sidebarRightText {
  margin-bottom: 7px;
}

.detailPage__description {
  font-size: 16px;
  line-height: 1.5;
}

.detailPage__additional {
  color: #fff;
}

.detailPage__additionalTitle {
  text-align: center;
  font-size: 22px;
}

.detailPage__additionalList {
  display: flex;
  justify-content: center;
}
